{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1 class="title">Mes Projets</h1>

<div class="container">
    <a href="{{ path('competence_administrer') }}" class="box">
        <img src="{{ asset('images/canard.jpg') }}" alt="Image 1">
        <p>Administrer</p>
    </a>
    <a href="{{ path('competence_connecter') }}" class="box">
        <img src="{{ asset('images/image2.jpg') }}" alt="Image 2">
        <p>Connecter</p>
    </a>
    <a href="{{ path('competence_programmer') }}" class="box">
        <img src="{{ asset('images/image3.jpg') }}" alt="Image 3">
        <p>Programmer</p>
    </a>
    <a href="{{ path('competence_securiser') }}" class="box">
        <img src="{{ asset('images/image4.jpg') }}" alt="Image 4">
        <p>Sécuriser</p>
    </a>
    <a href="{{ path('competence_proteger') }}" class="box">
        <img src="{{ asset('images/image5.jpg') }}" alt="Image 5">
        <p>Protéger</p>
    </a>
</div>
{% endblock %}