{% extends 'base.html.twig' %}

{% block title %}Mes compétences{% endblock %}

{% block body %}
<h1>Mes compétences dans connecter</h1>

<div class="projects-container">
    <div class="competence-row reverse">
        <div class="box photo-box">
            <img src="{{ asset('images/connecter1.png') }}" alt="Photo 1">
        </div>
        <div class="box text-box">
            <h2>Déployer et caractériser des systèmes de transmissions complexes </h2>
            <p>J'ai acquis des compétences dans le déploiement et la compréhension de systèmes de transmission complexes, incluant des technologies comme LoRaWAN, la fibre optique, et des concepts comme la modulation 16QAM. J’ai notamment conçu un objet connecté utilisant LoRaWAN pour transmettre des données vers un cloud, et réalisé des TP pratiques sur la fibre optique, où j’ai appris à souder des fibres et à mesurer les pertes lumineuses. Toutefois, je rencontre des difficultés avec les aspects mathématiques des systèmes de transmission, notamment la modulation 16QAM. Pour améliorer mes compétences, je prévois de renforcer mes bases en mathématiques appliquées et d'explorer davantage les technologies avancées telles que le multiplexage SDH, OTN et WDM.</p>
        </div>
    </div>
    <div class="competence-row">
        <div class="box photo-box">
            <img src="{{ asset('images/photo2.jpg') }}" alt="work in progress">
        </div>
        <div class="box text-box">
            <h2>Mettre en place un accès distant sécurisé</h2>
            <p>Work in progress</p>
        </div>
    </div>
    <div class="competence-row reverse">
        <div class="box photo-box">
            <img src="{{ asset('images/photo3.jpg') }}" alt="work in progress">
        </div>
        <div class="box text-box">
            <h2>Mettre en place une connexion multi-site via un réseau opérateur</h2>
            <p>Work in progress</p>
        </div>
    </div>
    <div class="competence-row">
        <div class="box photo-box">
            <img src="{{ asset('images/connecter4.png') }}" alt="Photo 4">
        </div>
        <div class="box text-box">
            <h2> Administrer les réseaux d’accès des opérateurs</h2>
            <p>J'ai acquis des compétences en administration de réseaux d'accès opérateurs, notamment en configurant des réseaux utilisant Frame Relay et OSPF. J’ai également renforcé mes capacités en dépannage, en résolvant des erreurs complexes liées à la configuration de réseaux. Cependant, je rencontre encore des difficultés à maîtriser les architectures complexes des réseaux opérateurs et à comprendre pleinement leurs évolutions futures. Pour progresser, je prévois de poursuivre ma formation avec des simulations avancées, des études de cas réels et de suivre des cours spécialisés pour approfondir ma compréhension des réseaux opérateurs.</p>
        </div>
    </div>
    <div class="competence-row reverse">
        <div class="box photo-box">
            <img src="{{ asset('images/connecter5.jpg') }}" alt="Photo 5">
        </div>
        <div class="box text-box">
            <h2> Organiser un projet pour répondre au cahier des charges</h2>
            <p>J'ai appris à organiser et gérer des projets en respectant les timing, les deadlines, et les exigences d'un cahier des charges, notamment lors des SAE de fin de semestre. Grâce à une organisation rigoureuse et à mon expérience d’arbitrage sportif, j’ai su respecter les échéances et les critères du cahier des charges. Cependant, je souhaite améliorer ma communication avec les membres de l’équipe pour optimiser la collaboration. Pour ce faire, je prévois d’utiliser des outils collaboratifs et de favoriser les échanges réguliers pour mieux répartir les tâches et anticiper les imprévus.</p>
        </div>
    </div>

</div>

{% endblock %}