{% extends 'base.html.twig' %}

{% block title %}Mes compétences{% endblock %}

{% block body %}
<h1>Mes compétences</h1>

<div class="projects-container">
    <div class="competence-row reverse">
        <div class="box photo-box">
            <img src="{{ asset('images/securiser.png') }}" alt="Photo 1">
        </div>
        <div class="box text-box">
            <h2>Utiliser les bonnes pratiques et les recommandations de cybersécurité</h2>
            <p>J’applique les bonnes pratiques de cybersécurité recommandées par l’ANSSI, telles que la gestion de mots de passe forts, la vigilance face au phishing, et la configuration d’ACL pour sécuriser les réseaux. Ces pratiques sont issues de ma formation et de mon expérience personnelle. Pour améliorer, je souhaite approfondir la gestion des incidents, tester ces pratiques dans des environnements plus complexes, et explorer des techniques avancées comme la détection d'intrusions.</p>
        </div>
    </div>
    <div class="competence-row">
        <div class="box photo-box">
            <img src="{{ asset('images/securiser2.png') }}" alt="Photo 2">
        </div>
        <div class="box text-box">
            <h2>Mettre en œuvre les outils fondamentaux de sécurisation d’une infrastructure du réseau </h2>
            <p>Dans le cadre de ma formation, j’ai appris à sécuriser une infrastructure réseau en utilisant des outils clés comme la segmentation via VLAN, les ACL pour filtrer le trafic, et des outils de surveillance tels que Grafana. J’ai également géré les profils utilisateurs avec Active Directory et restreint l’accès Wi-Fi via une passerelle Ubiquiti.

                Pour améliorer, je souhaite explorer des intégrations avancées, comme l’association du serveur RADIUS à Active Directory, élargir mes compétences en surveillance avec des outils comme Zabbix, et automatiser la gestion des ACL.</p>

        </div>
    </div>
    <div class="competence-row reverse">
        <div class="box photo-box">
            <img src="{{ asset('images/photo3.jpg') }}" alt="Work In Progress">
        </div>
        <div class="box text-box">
            <h2>Sécuriser les systèmes d’exploitation</h2>
            <p>Work In Progress</p>
        </div>
    </div>
    <div class="competence-row">
        <div class="box photo-box">
            <img src="{{ asset('images/photo4.jpg') }}" alt="Work In Progress">
        </div>
        <div class="box text-box">
            <h2>Choisir les outils cryptographiques adaptés au besoin fonctionnel du système d’information</h2>
            <p>Work In Progress</p>
        </div>
    </div>
    <div class="competence-row reverse">
        <div class="box photo-box">
            <img src="{{ asset('images/securiser5.jpg') }}" alt="Photo 5">
        </div>
        <div class="box text-box">
            <h2>Connaître les différents types d’attaque</h2>
            <p>
                Lors de ma formation en cybersécurité, j’ai étudié divers types d’attaques informatiques : physiques, au niveau des couches réseau, et applicatives. J’ai appris à identifier des risques comme le vol d’équipement, les attaques ARP spoofing, DoS/DDoS, ou les injections SQL, tout en mettant en place des mesures de protection adaptées (contrôles d’accès, ACL, firewalls, IDS/IPS).
                
                Pour améliorer, je souhaite approfondir mes connaissances sur les nouvelles formes d’attaques, tester des scénarios complexes en laboratoire et explorer les vulnérabilités liées aux nouvelles technologies comme les API REST ou les containers.</p>
        </div>
    </div>
    <div class="competence-row">
        <div class="box photo-box">
            <img src="{{ asset('images/securiser6.jpg') }}" alt="Photo 6">
        </div>
        <div class="box text-box">
            <h2>Comprendre des documents techniques en anglais</h2>
            <p>
                Au cours de ma formation, j’ai amélioré ma compréhension des documents techniques en anglais grâce à des cours d’anglais axés sur la communication et à une pratique régulière sur des ressources techniques en ligne (GitHub, Stack Overflow). Cela m’a permis d’accéder à des documentations spécifiques pour résoudre des problèmes techniques dans mes projets.
                
                Pour progresser, je souhaite lire davantage de documentation technique pour enrichir mon vocabulaire, suivre des formations en anglais, et pratiquer la rédaction pour renforcer mes compétences.</p>
        </div>
    </div>
</div>

{% endblock %}