{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1 class="title" id="about">À propos de moi</h1>

<div class="container">
    <div class="box flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <img src="{{ asset('images/apropos.jpg') }}" alt="About Image 1">
            </div>
            <div class="flip-box-back">
                <h2>Autonome, curieux et doté d’un bon sens de la communication, je valorise le travail en équipe tout en étant capable de prendre du recul pour analyser les situations avec objectivité et proposer des solutions adaptées.</h2>
                <h2>Les choses les plus importante pour moi sont les amis et la famille. Mes piliers me permettant d'évoluer et de donner le meilleur de moi même</h2>
            </div>
        </div>
    </div>
    <div class="box flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <img src="{{ asset('images/famille.jpg') }}" alt="About Image 2">
            </div>
            <div class="flip-box-back">
                <h2>Ma famille fait partie intégrante de ma vie, elle me permet de savoir ce que je dois faire. C'est aussi une immense forme d'inspiration. Elle me permet de me motiver. Enfin, les valeurs qu'elle m'a inculqué font de mon ce que je suis aujourd'hui</h2>
            </div>
        </div>
    </div>
</div>

<h1 class="title" id="projects">Mes Projets</h1>

<div class="engagements-container">
    <a href="{{ path('competence_administrer') }}" class="box">
        <img src="{{ asset('images/administrer.jpg') }}" alt="Administrer">
        <p>Administrer les réseaux et l’Internet</p>
    </a>
    <a href="{{ path('competence_connecter') }}" class="box">
        <img src="{{ asset('images/connecter.jpg') }}" alt="Connecter">
        <p>Connecter les entreprises et les usagers</p>
    </a>
    <a href="{{ path('competence_programmer') }}" class="box">
        <img src="{{ asset('images/programmer.jpg') }}" alt="Programmer">
        <p>Créer des outils et des applications informatiques pour les R&T</p>
    </a>
    <a href="{{ path('competence_securiser') }}" class="box">
        <img src="{{ asset('images/cyber1.jpg') }}" alt="Cyber 2">
        <p>Administrer un système d’information sécurisé</p>
    </a>
    <a href="{{ path('competence_proteger') }}" class="box">
        <img src="{{ asset('images/cyber2.jpg') }}" alt="Cyber 1">
        <p>Surveiller un système d’information sécurisé</p>
    </a>
</div>

<h1 class="title" id="experience">Expérience professionnelle</h1>

<div class="container">
    <div class="box flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <img src="{{ asset('images/tuteur.jpg') }}" alt="Tuteur numérique Etudiant">
            </div>
            <div class="flip-box-back">
                <h1>Tuteur numérique Etudiant</h1>
                <p>Aout - Octobre 2024</p>
                <p>J'ai aidé les étudiants pour solutionner des problèmes informatiques au début d'année scolaire. Je les aidais dans les procédures numériques, les conseillais pour du matériel information ou les guidais sur les outils mis à disposition par l'UJM</p>
            </div>
        </div>
    </div>
    <div class="box flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <img src="{{ asset('images/renfort.jpg') }}" alt="Another Image">
            </div>
            <div class="flip-box-back">
                <h1>Renfort auu service informatique</h1>
                <p>Juillet 2024</p>
                <p>Pendant les vacances, je suis venu aider le service informatique notammer pour effectuer le changement et déploiement de nouveaux outils /matériels informatiques dans l'IUT mais aussi pour effectuer la maintenance de l’infrastructure réseau</p>

            </div>
        </div>
    </div>
</div>

<h1 class="title" id="engagements">Mes engagements</h1>

<div class="engagements-container">
    <div class="box">
        <img src="{{ asset('images/arbitre.jpg') }}" alt="Engagement 1">
        <p>Arbitre départementale de basketball</p>
    </div>
    <div class="box">
        <img src="{{ asset('images/hackcess2.png') }}" alt="Engagement 2">
        <p>Vice-Président d'Hackcess</p>
    </div>
    <div class="box">
        <img src="{{ asset('images/formation.jpg') }}" alt="Engagement 3">
        <p>Responsable de formation</p>
    </div>
</div>

{% endblock %}