<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Accueil{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="navbar">
        <a href="{{ path('app_e_portfolio') }}">Accueil</a>
        <a href="{{ path('app_e_portfolio') }}#about">À propos de moi</a>
        <a href="{{ path('app_e_portfolio') }}#projects">Mes Projets</a>
        <a href="{{ path('app_e_portfolio') }}#experience">Expérience professionnelle</a>
        <a href="{{ path('app_e_portfolio') }}#engagements">Mes engagements</a>
        <a href="{{ path('contact') }}">Contact</a> <!-- Lien vers la page de contact -->
    </div>

    {% block body %}{% endblock %}

    <div class="contact-bar">
        <p>Contactez-moi via les réseaux sociaux ou par email.</p>
    </div>
</body>
</html>